In [ ]:
#hide
from SEQlinkage.Core import *

In [ ]:
#hide
%load_ext autoreload
%autoreload 2

# SEQLinkage

> Collapsed Haplotype Pattern Method for Linkage Analysis of Next-Generation Sequencing Data

## Pre-requisites

Make sure you install the pre-requisited before running seqlink:

```
conda install -c conda-forge xeus-cling
conda install -c anaconda swig 
conda install -c conda-forge gsl
pip install egglib
git clone https://github.com/statgenetics/cstatgen.git
cd cstatgen
python setup.py install
```

## Install

`pip install SEQLinkage`

## How to use

### 1. Test on seqlinkage-example

```
seqlink --fam seqlinkage-example.fam --vcf seqlinkage-example.vcf.gz -f MERLIN --output RMBPt8 --jobs 8

seqlink --fam seqlinkage-example.fam --vcf seqlinkage-example.vcf.gz -f MERLIN --output RMB0 --jobs 8 --bin 0

seqlink --fam seqlinkage-example.fam --vcf seqlinkage-example.vcf.gz -f MERLIN --output RMB1 --jobs 8 --bin 1

seqlink --fam seqlinkage-example.fam --vcf seqlinkage-example.vcf.gz --freq EVSEAAF -o LinkageAnalysis -K 0.001 --moi AR -W 0 -M 1 --theta-max 0.5 --theta-inc 0.05 -j 8 --run-linkage
```

### 2. Test on AD family

```
seqlink --fam data/mwe_normal_fam.csv --vcf data/first1000snp_full_samples.vcf.gz -f LINKAGE --blueprint data/genemap.hg38.txt --freq AF -K 0.001 --moi AD -W 0 -M 1

seqlink --fam data/mwe_normal_fam.csv --vcf data/first1000snp_full_samples.vcf.gz -f MERLIN --blueprint data/genemap.hg38.txt --freq AF
```

```
./seqlink --fam seqlinkage-example/seqlinkage-example.fam --vcf seqlinkage-example/seqlinkage-example.vcf.gz -f MERLIN --blueprint data/genemap.txt --freq EVSEAAF -o seqtest
./seqlink --fam data/new_trim_ped_famless17.fam --vcf data/first1000snp_full_samples.vcf.gz -f MERLIN --blueprint data/genemap.hg38.txt --freq AF
```

./seqlink --fam data/new_trim_ped_famless17.fam --vcf data/first1000snp_full_samples.vcf.gz -f MERLIN --blueprint data/genemap.hg38.txt --freq AF -K 0.001 --moi AD -W 0 -M 1 --run-linkage

./seqlink --fam data/Example_data/pedigree.fam --vcf data/Example_data/example.vcf.gz -f MERLIN MEGA2 PLINK LINKAGE --build hg38 --chrom-prefix chr --freq AF -o data/Example_data/output -K 0.001 --moi AD -W 0 -M 1

./seqlink --fam data/mwe_normal_fam.csv --vcf data/first1000snp_full_samples.vcf.gz --anno data/first1000_chr1_multianno.csv --pop data/full_sample_fam_pop.txt -f MERLIN MEGA2 PLINK LINKAGE --build hg38 --freq AF -o data/first1000test -K 0.001 --moi AD -W 0 -M 1

./seqlink --fam data/new_trim_ped_famless17_no\:xx.fam --vcf /mnt/mfs/statgen/alzheimers-family/linkage_files/geno/full_sample/vcf/full_sample.vcf.gz --anno MWE/annotation/EFIGA_NIALOAD_chr1.hg38.hg38_multianno.csv --pop data/full_sample_fam_pop.txt -f MERLIN MEGA2 PLINK LINKAGE --build hg38 --freq AF -o data/fullchr1data -K 0.001 --moi AD -W 0 -M 1 -j 4

## Testing output

seqlink --fam seqlinkage-example/seqlinkage-example.fam --vcf seqlinkage-example/seqlinkage-example.vcf.gz -f MERLIN MEGA2 PLINK LINKAGE --blueprint data/genemap.txt --freq EVSEAAF -o data/seqtest_20220221 -K 0.001 --moi AD -W 0 -M 1 -j 4

seqlink --fam data/new_trim_ped_famless17_no:xx.fam --vcf /mnt/mfs/statgen/alzheimers-family/linkage_files/geno/full_sample/vcf/full_sample.vcf.gz --anno MWE/annotation/EFIGA_NIALOAD_chr22.hg38.hg38_multianno.csv --pop data/full_sample_fam_pop.txt -f MERLIN MEGA2 PLINK LINKAGE --build hg38 --freq AF -o data/fullchr22data -K 0.001 --moi AD -W 0 -M 1 -j 8

In [ ]:
import pandas as pd

In [ ]:
tmp = pd.read_csv('../data/genemap.hg38.txt',sep='\t',header=None)

In [ ]:
tmp[3]

0                                           LOC102725121@1
1                                                  DDX11L1
2                                                   WASH7P
3          MIR6859-1@1,MIR6859-2@1,MIR6859-3@1,MIR6859-4@1
4        MIR1302-10@1,MIR1302-11@1,MIR1302-2@1,MIR1302-9@1
                               ...
28320                                                SPRY3
28321                                                VAMP7
28322                                                 IL9R
28323                                               WASIR1
28324                                             DDX11L16
Name: 3, Length: 28325, dtype: object

In [ ]:
tmp[0].value_counts()

1                      2809
2                      1816
19                     1779
11                     1678
17                     1583
3                      1560
6                      1453
12                     1386
7                      1359
5                      1314
X                      1209
16                     1177
9                      1119
10                     1107
4                      1091
8                      1056
15                     1012
14                      946
20                      774
22                      646
13                      629
18                      436
21                      374
17_KI270909v1_alt         3
22_KI270879v1_alt         3
7_KI270803v1_alt          2
15_KI270850v1_alt         2
4_GL000008v2_random       1
1_KI270706v1_random       1
Name: 0, dtype: int64

In [ ]:
tmp1 = tmp[tmp[0]=='22']

In [ ]:
tmp1[tmp1[3]=='LINC01664']

        0         1         2          3         4         5         6
26484  22  17121594  17132104  LINC01664  3.496778  5.134655  1.946244

In [ ]:
tmp1[tmp1[3]=='BID']

        0         1         2    3         4          5         6
26493  22  17734139  17774665  BID  7.132236  10.196359  4.192282

In [ ]:
tmp1[tmp1[3]=='RTL10']

        0         1         2      3          4          5         6
26535  22  19846145  19854874  RTL10  12.136091  16.519006  8.210012

In [ ]:
tmp1

,0,1,2,3,4,5,6
26467,22,15784953,15827434,DUXAP8,0.000000,0.000000,0.000000
26468,22,15805697,15820884,BMS1P22@3,0.000000,0.000000,0.000000
26469,22,15805697,15815897,"BMS1P17@3,BMS1P18@3",0.000000,0.000000,0.000000
26470,22,15740892,15778287,PSLNR,0.000000,0.000000,0.000000
26471,22,15690025,15721631,POTEH,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
27111,22,50674390,50733212,SHANK3,79.970067,90.409669,70.999029
27112,22,50735828,50738169,LOC105373100,80.037493,90.485907,71.073657
27113,22,50738203,50745339,ACR,80.044958,90.494347,71.080286
27114,22,50757085,50799637,RPL23AP82,80.102184,90.559043,71.131103
27115,22,50767506,50783636,RABL2B,80.097821,90.554110,71.127228

In [ ]:
535-467

68

In [ ]:
sum([0.81492771, 0.00012225750, 2.7516191e-12, 4.1280478e-16])

0.8150499675027519

## Testing write pickle

In [ ]:
!seqlink --fam ../data/mwe_normal_fam.csv --vcf ../data/first1000snp_full_samples.vcf.gz --anno ../data/first1000_chr1_multianno.csv --pop ../data/full_sample_fam_pop.txt -f MERLIN --build hg38 --freq AF -o ../data/first1000pickle --bin 1 --maf-cutoff 0.05

MESSAGE: Binary trait detected in [/mnt/mfs/statgen/yin/Github/linkage/SEQpy3/data/mwe_normal_fam.csv]
MESSAGE: Checking local resources 5/5 ...
anno (1000, 6)
MESSAGE: 7 samples found in FAM file but not in VCF file:
22_1_20, 1036_2, 22_1_10, 28_9_100, 28_9_186, 28_9_101, 1036_1
MESSAGE: 3,461 samples in VCF file will be ignored due to absence in FAM file
MESSAGE: 3,479 samples found in [/mnt/mfs/statgen/yin/Github/linkage/SEQpy3/data/first1000snp_full_samples.vcf.gz]
MESSAGE: Loading marker map from [/home/yh3455/.SEQLinkage/genemap.hg38.txt] ...
MESSAGE: 3 families with a total of 18 samples will be scanned for 28,325 pre-defined units
MESSAGE: Phasing haplotypes log file: [../data/first1000pickle/tmp/SEQLinkage_tmp_w8x_owut/clog.first1000pickle.STDOUT10684.log]
MESSAGE: 4 units (from 238 variants) processed; 24 Mendelian inconsistencies and 0 recombination events handled   Family 28_9 (12 bits) -  Singlepoint:  51%
MESSAGE: 28,321 units ignored due to absence in VCF file
MESSAGE: Archiving regional marker data to directory [../data/first1000pickle/cache]
merlin
MESSAGE: 4 units will be converted to MERLIN format
MESSAGE: 4 units successfully converted to MERLIN format
MESSAGE: Archiving MERLIN format to directory [../data/first1000pickle/cache]
MESSAGE: Saving data to [/mnt/mfs/statgen/yin/Github/linkage/SEQpy3/data/first1000pickle]

In [ ]:
import pickle
with open('../data/first1000pickle/CACHE/first1000pickle.pickle', 'rb') as handle:
    first1000 = pickle.load(handle)

In [ ]:
len(first1000)

4

seqlink --fam ../data/mwe_normal_fam.csv --vcf ../data/first1000snp_full_samples.vcf.gz --anno ../data/first1000_chr1_multianno.csv --pop ../data/full_sample_fam_pop.txt -f MERLIN --build hg38 --freq AF -o ../data/first1000pickle --bin 1 --maf-cutoff 0.05 --jobs 1

## Checking APOE

seqlink --fam data/new_trim_ped_famless17_no\:xx.fam --vcf /mnt/mfs/statgen/alzheimers-family/linkage_files/geno/full_sample/vcf/full_sample.vcf.gz --anno MWE/annotation/EFIGA_NIALOAD_chr19.hg38.hg38_multianno.csv --pop data/full_sample_fam_pop.txt -f MERLIN --build hg38 --freq AF -o data/apoechr19test --blueprint data/data/genemap.hg38.chr19APOE.txt --bin 1 --maf-cutoff 0.05 --jobs 1